<h1>Dog Show</h1>
<p>
  Name: <%= @dog.name %>
</p>
<p>
  Age: <%= @dog.age %>
</p>
<p>
  Breed: <%= @dog.breed %>
</p>

<ul>
  <% @dog.employees.each do |emp| %>
    <li>
      <%= link_to "#{emp.first_name} 🤓 #{emp.last_name}", employee_path(emp) %>
    </li>
  <% end %>
</ul>
